/* footer */
/* footer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition:  all .3s linear;
  }
  .footer {
      display: block;
      background-color: #53382c;
      /* position: absolute;
      bottom: 0px;
      width:100%; */
    }
    .footer-ul {
      padding: 0;
      display: block;
      margin: 0 10%;
      overflow: hidden;
    }
    .footer li {
      list-style: none;
    }
    .footer-li span {
      color: #fff;
      font-size: 13px;
    }
    .footer-li {
      display: inline-block;
      padding: 20px;
    }
    .footer-li-item a {
      display: block;
      width: 25px;
      height: 25px;
      background-color: #ffffff;
      color: #53382c;
      font-size: 16px;
      line-height: 24px;
      position: relative;
      backface-visibility: hidden;
    }
    .fff {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    .footer-ul-item {
      padding: 0;
    }
    .footer-li-item {
      display: inline-block;
      padding: 0 2px;
      transition: all .3s linear;
    }
    .footer-li-item:hover {
      transform: translateY(-3px);
      transition: all .3s linear;
    }
    .symbol {
      position: relative;
    }
    .symbol-i {
      position: absolute;
      color: #fff;
      left: 0;
      font-size: 13px;
      top: 40%;
    }
    .footer-li:hover  {
      color: #f1bc7a;
      transition: all .5s linear;
    }
    .footer-li:hover .symbol-i {
      color: #f1bc7a;
      transition: all .5s linear;
      cursor: 'pointer';
    }
    .symbol span:hover {
      color: #f1bc7a;
      transition: all .5s linear;
      cursor: 'pointer';
    }
    .footer-li a {
      text-decoration: none;
    }
    
    /* @media (min-width: 768px) and (max-width: 1023px){
      .footer-ul .footer-li{
          display: block;
      }
    }
    @media (min-width: 600px) and (max-width: 767px)
    {
      .footer-ul .footer-li{
          display: block;
      } 
    }
    @media(max-width:599px){
      .footer-ul .footer-li{
          display: block;
      }
    } */
    li .buttons {
      display: none;
    }
      .buttons a{
      text-decoration: none;
      display: block;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      padding: 11px 15px;
      background: #b22830;
      text-align: Center;
      color: #ffffff;
    
  } 
  .buttons a:hover{
    background: #ffffff;
    color: #333333;
  }
  .btn-mm span {
    position: relative;
    /* padding-left: 30px; */
  }
  .buttons{
    padding:2% 28%;
  }
  @media (max-width: 1024px) {
    .footer-ul .footer-li{
        display: block;
        text-align: center;
    }
  }
  @media (max-width: 1024px) {
  .footer-ul .symbols{
      display: block;
      text-align: center;
  }
  }
  @media (max-width:1024px){
    li .buttons{display: block;}
  }